    <div class="country-info__img">
        <img src="{{flags.svg}}" alt="{{flags.alt}}">
    </div>
    <div class="country-info__body">
        <h1 class="country-info__name">{{name.official}}</h1>
        <p class="country-info__title">Capital: {{capital}}</p>
        <p class="country-info__text">Population: {{population}}</p>
        <p class="country-info__text">Languages: {{languages}}</p>
    </div>